* {
    background-color: darkgreen;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#firstimg {
    float: left;
    height: 300px;
    width: 200px;
    clear: both;
}

#secondimg {
    float: right;
    clear: both;
    height: 300px;
    width: 500px;
}

h1 {
    color: navy;
    font-size: 30px;
    font-family: cursive;
}

#cap {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}